---
const platform = "github";
const platform2 = "bilibili";
const username = "LuckYang1";
const bilibiliUsername = "1001376624?spm_id_from=333.1007.0.0";

---

<footer>
  <p>在 <a href={`https://www.${platform}.com/${username}`}>{platform}</a> 上，了解有关我的项目的更多信息！</p>
  <p>在 <a href={`https://space.${platform2}.com/${bilibiliUsername}`}>{platform2}</a> 上，了解有关我的视频内容！</p>
</footer>